<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @instapost.photo_url(:medium) %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @instapost.caption %>
</p>

<p>
  <strong>User:</strong>
  <%= @instapost.user.email %>
</p>

<div>
  <% if @instapost.comments.present? %>
    <h2>Comments:</h2>
    <% @instapost.comments.each do |comment| %>
      <p><%= comment %></p>
    <% end %>
  <% end %>
  <p><%= link_to 'Add Comment', new_instapost_comment_path(@instapost) %></p>
</div>

<% if @instapost.user == current_user %>
  <%= link_to 'Edit', edit_instapost_path(@instapost) %> |
<% end %>
<%= link_to 'Back', instaposts_path %>
