<p id="notice"><%= notice %></p>

<% if @instapost.user != current_user %>
  <p>
    Photo by:<%= @instapost.user.email %>
  </p>
<% end %>

<p>
  <%= image_tag @instapost.photo_url(:medium) %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @instapost.caption %>
</p>

<!-- NEED FIXING!
<% if @instapost.comments == nil %>
  <%= link_to 'Add first comment', new_comment_path(@instapost) %>
<% else %>
  <p><%= @instapost.comments.first.content %></p>
<% end %> -->

<% if @instapost.user == current_user %>
  <%= link_to 'Edit', edit_instapost_path(@instapost) %> |
<% end %>
<%= link_to 'Back', instaposts_path %>
