<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @instapost.photo_url(:medium) %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @instapost.caption %>
</p>

<p>
  <strong>User:</strong>
  <%= @instapost.user.email %>
</p>

<% if @instapost.user == current_user %>
  <%= link_to 'Edit', edit_instapost_path(@instapost) %> |
<% end %>
<%= link_to 'Back', instaposts_path %>
